.app-container {
  width: 100%;
  max-width: 450px;
  min-height: 500px;
  max-height: 800px;
  background-color: white;
  box-shadow: 0 32px 50px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
