.user-sub-comment-container {
  color: #204969;
  padding: 20px;
  text-align: justify;
  margin-top: 20px;
}
.user-sub-comment__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-sub-comment__header > span {
  font-size: 1.1rem;
  font-weight: 700;
}
.user-sub-comment__header > button {
  background: none;
  border: none;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
}
.user-sub-comment__header > button:hover {
  background-color: #fff7f7;
}
.user-sub-comment-container > hr {
  height: 1px;
  background-color: black;
  border: none;
  margin-block: 20px;
}
