.list-container {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
.sell-container,
.buy-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sell-container {
  padding-left: 8%;
}
.buy-container {
  padding-right: 6%;
}
